@charset "UTF-8";

@font-face {
    font-family: 'Passion-One';
    src: url('../fontes/PassionOne.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Sriracha';
    src: url('../fontes/Sriracha.ttf') format('truetype');
    font-weight: normal;
}

:root {
    --fonte-padrão: Verdana, Arial, Helvetica, Sans-serif;
    --fonte01: 'Passion-One', cursive;
    --fonte02: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    margin: 0px;
    padding-top: 60px;
    font-family: var(--fonte01);
    font-size: 10vw;
    font-weight: bolder;
}

header > p {
    margin: 0px;
    padding-bottom: 40px;
    font-family: var(--fonte-padrão);
}

header a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

section.texto {
    margin: 0px;
    padding: 74px 30px;
    font-family: var(--fonte02);
    font-size: 30px;
    line-height: 2em;
}

section#img01 {
    background: black url('../imagens/background001.jpg') right center no-repeat fixed;
    background-size: cover;
}

p.texto-branco {
    width: 363px;
    color: white;
    background-color: rgba(0, 0, 0, 0.450);
}

p.paragrafo {
    padding-bottom: 74px;
}

section#img02 {
    background: black url('../imagens/background002.jpg') right center no-repeat fixed;
    background-size: cover;
}

footer {
    padding: 5px;
    background-color: black;
    font-family: var(--fonte-padrão);
    color: white;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer > a:hover {
    text-decoration: underline;
}

